* {
	margin: 0px;
	padding: 0px;
}


body {
	width:100%;
	height:100%;
	background-image: url(img/bg.jpg);
	background-repeat: repeat;
	/*background:burlywood;*/
}

	

#main {
	min-width:1000px;
	max-width:1400px;
	width:1000px;
	/*border:1px solid black;*/
	overflow:;
	margin:0 auto;
}
		
.img_centered {
	display:block;
	margin:0 auto;
}

.container1 {
	margin: 0 auto;
	width: 950px;
}

.container2 {
	margin: 0 auto;
	width: 950px;
}



a {
	text-decoration: none; 
    border-bottom:1px dashed #fff; 
	color:#fff;
}


/*Хэдэр*/

#header {
	overflow:hidden;
}

#text_box_top {
	margin:0 auto;
	font-size:19px;
	color:#fff;
	width:950px;
	height: 47px;
	
}
	#text_box_top span {
		position:absolute;
	}
		
	
#li_1 { margin: -68px 0 0 24px; }
#li_2 { margin: -2px 0 0 230px; }
#li_3 { margin: 14px 0 0 430px; font-size:27px; }
#li_4 { margin: -3px 0 0 650px; font-size:20px;}
#li_5 { margin: -71px 0 0 832px; font-size:22px;}


/*Контент*/

#content {
	height:100%;
	min-height:100%;
}


	#ship {
		position: absolute;
		margin: -89px 0 0 38px;
		
	}
	
	#line {
		height:3px;
		background-image: url(img/ship_line.png);
		background-repeat:repeat-y;
		
		
	}
	
	#hi {
		
		width:480px;
		height:198px;
		background-image: url(img/hi_cloud.png);
		margin: -46px 0 0 304px;
		position: absolute;
	}
		#close_button {
			position: absolute;
			margin: 4px 0 0 443px;
			
		}
	
	#arrow {
		position: absolute;
		margin: 92px 0 0 145px;
	}
	
	#go {
		position: absolute;
		margin: 112px 0 0 145px;
		color: #fff;
		font-size: 21px;
	}
	

#middle_content {
	overflow: ;
	margin-top: 95px;
}

	

				/*News*/
#news {
	float:left;
	margin-top: 101px;
	margin-left: 5%;
}
	.news_common {
		width:295px;
		background-color: white;
		background-repeat: no-repeat;
		background-position: top;
		border-radius: 15px;
		overflow:hidden;
	}

	.news_large {
		
		min-height:125px;
		background-image: url(img/news_cloud_large.png);
		
		margin-top:19px;
		
	}
	
	.news_small {
		
		min-height:108px;
		background-image: url(img/news_cloud_small.png);
		
		margin-left: 42px;
		margin-top: 15px;
	}
	
	#ship_small {
		margin: 7px 0 0 24px;
	}
	
	#all_news {
		color: #fff;
		font-size: 19px;
		margin: 17px 0px 0px 1px;
		position: absolute;
	}
	

	
#island {
	float:right;
	background-image: url(img/island3.png);
	background-repeat: no-repeat;
	background-position:left;
	width:657px;
	height:549px;
	margin-top: -14px;
	margin-right: -5%;
}


#clear {
clear: both;
width: 950px;
margin: 0 auto;
}

.star {
	position: absolute;
	margin: -167px 0 0 422px;
}

#production_text {
	margin: -55px 0 0 282px;
}

.prod_cont {
	margin-top:37px;
	}
	

.products {
	width:260px;
	min-height:119px;
	background-color:white;
	background-repeat: no-repeat;
	background-position:top;
	border-radius:15px;
	
}
	.fish {
		background-image: url(img/fish.png);
		float:left;
		margin-left: 63px;
	}
	
	.spread {
		background-image: url(img/spread.png);
		margin:0 auto;
	}
	
	.sea {
		background-image: url(img/sea.png);
		float:right;
		margin-top:-119px;
		margin-right:63px;
	}

.products_content {
	margin: 18px 0 0 10px;
}


/*#fish {
	width:260px;
	min-height:119px;
	background-color:white;
	background-image: url(img/fish.png);
	background-repeat: no-repeat;
	background-position:top;
	border-radius:15px;
}




